{{ define "main" }}
<h1 class="page-title">{{ .Title }}</h1>

<div class="post-cards">
  {{- range .Pages.ByDate.Reverse -}}
  <article class="post-card">
    <a href="{{ .Permalink }}">
      <div class="post-card-header">
        <h3 class="post-card-title">{{ .Title }}</h3>
        <span class="post-card-date">{{ .Date.Format "Jan 2006" }}</span>
      </div>
      {{ with .Params.summary }}<p class="post-card-summary">{{ . }}</p>{{ end }}
    </a>
  </article>
  {{- end -}}
</div>
{{ end }}
